@import "variables" ,"mixins";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    // font-family:'Laila', sans-serif; --------------------Poner la Fuente
}
header{
    @include pantalla(xs){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    };
    .head{
        @include pantalla(xs){
            display: flex;
            justify-content: center;
            width: 100vw;
        };
    }
}
#logo{
    position:absolute;
    @include pantalla(xs){
        padding-top: .6rem;
        width:4rem;
        display: flex;
    }
}
#index-fondo{
    @include pantalla(xs){
        display: flex;
        width: 130vw;
    }
}
#wpp{
    @include pantalla(xs){
        position:absolute;
        width: 4rem;
    }
}
.p1{
    color: $verde-principal;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.p2{
    color: $verde-principal;
    font-size: 1.3rem;
    padding-top: 1.5rem;
}
.uvas{
    overflow: hidden;
    height: 5.5rem;
}
.uvaas{
    object-fit: cover;
    max-width: 100vw;
    height: 18rem;
}