@import "variables" ,"mixins";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    // font-family:'Laila', sans-serif; --------------------Poner la Fuente
}
img{
    object-fit: cover;
}
header{
    @include pantalla(xs){
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    };
    .head{
        @include pantalla(xs){
            display: flex;
            justify-content: center;
            width: 100vw;
        };
    }
}
#logo{
    position:absolute;
    @include pantalla(xs){
        padding-top: .6rem;
        width:4rem;
        display: flex;
    }
    @include pantalla(md){
        width: 4.2rem;
    }
}
#logo:hover{
    width: 4.3rem;
}
#index-fondo{
    @include pantalla(xs){
        display: flex;
        width: 100vw;
        max-height: 70vh;
    }
}
#wpp{
    @include pantalla(xs){
        position:absolute;
        width: 4rem;
    }
}
.p1{
    @include pantalla(xs){
        color: $verde-principal;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    };
    @include pantalla(md){
        font-size: 1.6rem;
    }
}
.p2{
        
    @include pantalla(xs){
        color: $verde-principal;
        font-size: 1rem;
        padding: 1.5rem 0;
        text-align: center;
    };
    @include pantalla (md){
        font-size: 1.3rem;
    }
}
.containerUvas{
    @include pantalla(xs){
        overflow: hidden;
        height: 5.5rem;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
    }
    
}
.uvas{
    @include pantalla(xs){
        object-fit: cover;
        max-width: 100vw;
        min-height: 18rem;
    }
}

