@import "variables" ,"mixins";
.frutas{
    @include pantalla(xs){
        background-color: $verde-dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding-bottom: 1.6rem;
    };
    @include pantalla(md){
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        // justify-items: center;
    }
    .p4{
        @include pantalla(xs){
            color: $verde-principal;
            font-size: 1rem;
            padding: 2rem 0;
            text-align: center;
            width: 70%;
        };
        @include pantalla(md){
            font-size: 1.3rem;
            padding: 0;
            text-align: center;
            width: 100%;
            border-left: 2px solid $verde-principal ;
        }
    }
    .imgAfricultor{
        @include pantalla(xs){
            display: flex;
            justify-content: center;
        };
        @include pantalla(md){
            justify-content: start;
            padding-left: 1.5rem;
            max-width: 60%;
        }
        .agricultor{
            @include pantalla(xs){
                width: 88%;
            };
            @include pantalla(xs){
            max-width: 80%;
            }
        }
    }
}
.verduras{
    @include pantalla(xs){
        // height: 60vh;
        background-color: $verde-pino;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.6rem;
    };
    .p5{
        @include pantalla(xs){
            color: $naranja-oscuro;
            font-size: 1rem;
            padding: 2rem 0;
            text-align: center;
            width: 65%;
        };
    }
    .alimentos{
        img{
            @include pantalla(xs){
                border-radius: 50%;
                width: 80px;
                height: 80px;
                margin: 0 15px;
            };
        }
    }
    .cultivo{
        @include pantalla(xs){
            display: flex;
            justify-content: center;
        };
        .cosecha{
            @include pantalla(xs){
                width: 88%;
                padding-top: 30px;
            };
        }
    }
}